* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222629;
  color: #F5FEFD;
}
body nav {
  display: flex;
  justify-content: space-around;   
  height: 64px;
  margin-bottom: 2%;
  border-bottom: solid;
  border-color: #86c232;
}
body nav button {
  height: 100%;
  width: 20%;
  background-color: #222629;
  color: white;
  border: none;
  font-family: "Raleway", sans-serif;
  transition: background-color .3s;
}

body nav button:hover {
  background-color: #86c232;
  font-weight: bolder;
  color: #222629;

}

h1 {
  font-size: 45px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

p {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  margin-left: 15%;
  margin-top: 3%;
  width: 70%;
  font-weight: 400;
}
question p {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  margin-left: 10%;
  margin-top: 8%;
  font-weight: 350;
}
a:link, a:visited {
  background-color: #6B6E70;
  color: white;
  padding: 10px 15px;
  text-align: center;
  vertical-align: bottom;
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway", sans-serif;
}
textarea {
  width: 80%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin:auto;
  display: block;
  font-family: "Roboto Mono", monospace;
  margin-top: 2%;
}
#nextQuestion {
  margin-left: 74%;
  margin-top: 3%;
  background-color: #86c232;
  color: #222629;
  border: none;
  font-family: "Raleway", sans-serif;
  transition: background-color .3s;
  padding: .5% 1% .5% 1%;
  border-radius: 10px;
  font-weight: 700;
}
#nextQuestion:hover {
  background-color: #474b4f;
  color: #61892f;
}

#gptResponse {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: 350;
  width: 80%;
  align-self: center;
  font-style: italic;
  line-height: 200%;
  color: #222629;
  font-weight: 800;
  background-color: #61892f;
  padding: 2%;
  border-radius: 20px;
}
#intro{
  font-weight: 600;
}
#restartButton {
  height: 100%;
  width: 20%;
  background-color: #222629;
  color: white;
  border: none;
  font-family: "Raleway", sans-serif;
  transition: background-color .3s;
}

#restartButton:hover {
  background-color: #86c232;
  font-weight: bolder;
  color: #222629;

}
#Container {
  display: inline-block;
}
#pieChart {
  display: block;
  margin: 0 auto;
  align-self: center;
  height: 500;
  width: 500;
  max-width: 50%;
  max-height: 50%;
  margin-top: 5%;
  margin-bottom: 2%;
}
#results {
  text-align: center;
}
