* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222629;
  color: #F5FEFD;
}
body nav {
  display: flex;
  justify-content: space-around;   
  height: 64px;
  margin-bottom: 2%;
}
body nav button {
  height: 100%;
  width: 20%;
  background-color: #222629;
  color: white;
  border: none;
  font-family: "Raleway", sans-serif;
  transition: background-color .3s;
}

body nav button:hover {
  background-color: #86c232;
  font-weight: bolder;
  color: #222629;

}

h1 {
  font-size: 45px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

p {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin-left: 10%;
}
a:link, a:visited {
  background-color: #6B6E70;
  color: white;
  padding: 10px 15px;
  text-align: center;
  vertical-align: bottom;
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway", sans-serif;
}
textarea {
  width: 80%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin:auto;
  display: block;
  font-family: "Roboto Mono", monospace;
}