body {
  background-color: #222629;
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 45px;
  color: black;
  text-align: center;
}

p {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  color: #F5FEFD;
}
a:link, a:visited {
  background-color: #6B6E70;
  color: white;
  padding: 10px 15px;
  text-align: center;
  vertical-align: bottom;
  text-decoration: none;
  display: inline-block;
}
