body {
  background-color: #222629;
  color: #F5FEFD;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 45px;
  text-align: center;
}

p {
  font-size: 20px;
  color: #222629;
}
a:link, a:visited {
  background-color: #6B6E70;
  color: white;
  padding: 10px 15px;
  text-align: center;
  vertical-align: bottom;
  text-decoration: none;
  display: inline-block;
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


