@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {

    color: #F5FEFD;
    font-family: "Raleway", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222629;
    display: flex;

}

h1{
    font-size: 33px;
    font-weight: 600;
    padding: 200px 0;

}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    height: 64px;
    margin-bottom: 2%;
    border-bottom: solid;
    border-color: #86c232;
  }
  body nav button {
    height: 100%;
    width: 20%;
    background-color: #222629;
    color: white;
    border: none;
    font-family: "Raleway", sans-serif;
    transition: background-color .3s;
    cursor: pointer;
  }
  
  body nav button:hover {
    background-color: #86c232;
    font-weight: bolder;
    color: #222629;
  }

.app {
    background-color: #343541;
    display: flex;
}

.side-bar {
    background-color: #202120;
    height: 100vh;
    width: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

nav {
    border-top: solid 0.5px rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}

.history {
    padding: 10px;
    margin: 10px;
    height: 100%;
}

.history li {
    list-style-type: none;
    padding: 15px 0;
    cursor: pointer;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.info {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    padding: 10px;
}

.bottom-section {
    width: calc(100% - 244px); /* Adjusted width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    width: 100%;
    position: relative;
}

input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 15px;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

#submit {
    position: absolute;
    bottom: -10px;
    right: 0;
    cursor: pointer;
}
