@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Added for better box sizing */
    color: #F5FEFD;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: #222629;
    justify-content: center; /* Center the app container */
}

.app {
    display: flex;
    width: 100%; /* Ensure the app container takes full width */
}

.side-bar {
    background-color: #202120;
    height: 100vh;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3% 0 3% 0;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.faq .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.side-bar button {
    border: solid;
    border-color: #86c232;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    transition: background-color .3s;
}

.side-bar button:hover {
    background-color: #86c232;
    color: #222629;
    font-weight: bolder;
}

button {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%; 
    border-bottom: solid;
    border-color: #86c232;
    height: 10%;
}

nav button {
    background-color: #222629;
    border: none;
    transition: background-color .3s;
    width: 20%;
    height: 100%;
}

.navbar button:hover, nav button:hover {
    background-color: #86c232;
    font-weight: bolder;
    color: #222629;
}

.main {
    flex-grow: 1; /* Allows main to take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.info {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    margin-bottom: 1%;
}

.input-container {
    position: relative;
    width: 80%; /* Adjusted for a better look */
    display: flex;
    align-items: center;
    margin-bottom: -10%;
}

#input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 15px;
    border-radius: 5px;
    color: white; 
    flex-grow: 1; 
    padding-right: 40px; 
    text-align: left;
}

#submit {
    position: absolute;
    right: 0;
    padding: 10px;
    margin: 0;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
#submit img {
    width: 20px; /* Example size, adjust as needed */
    height: 20px;
}
@media (max-width: 768px) {
    .app {
        flex-direction: column;
    }

    .side-bar {
        width: 100%;
        height: auto;
    }

    .main {
        width: 100%;
    }
}

#outputText {
    text-align: left;
    font-family: "Raleway", sans-serif;
    color: white;
}

::placeholder {
    color: white;
}

.output-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#output-cursor {
    display: inline-block;
    width: 0.1em;
    height: 1em;
    background-color: white;
    margin-left: 0.1em;
    visibility: visible;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}